.venv/
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.idea/
.cache/
.mplconfig/
app/uploads/
.DS_Store
*.iml
mobile/build/
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/android/.gradle/
mobile/android/local.properties
